<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.vchat">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_speech_bubble"
        android:label="Doodle"
        android:roundIcon="@drawable/ic_speech_bubble"
        android:supportsRtl="true"
        android:theme="@style/Theme.VCHAT">
        <activity android:name=".settingActivity"></activity>
        <activity android:name=".chatDetailActivity" />
        <activity android:name=".SignInActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
    </application>

</manifest>